<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.select :client_id, options_for_select(Client.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.datetime_select :time_from %>
  </div>
  <div class="field">
    <%= f.label :time_to %><br />
    <%= f.datetime_select :time_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
