<h1>Listing task details</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Time required</th>
    <th>People amount</th>
    <th>Service</th>
    <th></th>
    <th></th>
  </tr>

<% @task.task_details.reject(&:new_record?).each do |task_detail| %>
  <tr>
    <td><%= task_detail.name %></td>
    <td><%= task_detail.time_required %></td>
    <td><%= task_detail.people_amount %></td>
    <td><%= task_detail.service && task_detail.service.name %></td>
    <td><%= link_to 'Edit', "/tasks/#{@task.id}/task_details/#{task_detail.id}/edit" %></td>
    <td><%= link_to 'Destroy', [@task, task_detail], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
